<div class="main-content clearfix">
		<div class="business-card clearfix">
			<img class="img-responsive" src="../images/demo-img.jpg">
			<div class="basic-details">
				<h4>Basic Details</h4>
				<p class="name">Kiran Adepu</p>
				<p class="emailId"><a href="mailto:some@some.com">Kiran@dummy.com</a></p>
				<p class="phoneNumber">+91 8898989898</p>
			</div>
			<div class="additional-details">
				<h4>Additional Details</h4>
				<p class="share-info">Sharable</p>
				<p class="catagory"><span> Category: </span>  <a class="category-edit" href="JavaScript:void(0);">Edit</a></p>
				<div class="category-check" style="display:none">
					<input type="checkbox" > Friend</input>
					<input type="checkbox" > Colleague</input>
					<input type="checkbox" > collage mate</input>
					<input type="text" class="form-control"/>
					<button type="button" class="btn btn-primary">Add</button>
				</div>
			</div>
			<div class="social-details">
				<h4>Social Contacts</h4>
				<ul class="social-nav clearfix">
					<li><a href="#"><img src="../images/fb.png" alt="facebook" /></a></li>
					<li><a href="#"><img src="../images/google.png" alt="google" /></a></li>
					<li><a href="#"><img src="../images/twitter.png" alt="twitter" /></a></li>
					<li><a href="#"><img src="../images/linkedin.png" alt="linkdin" /></a></li>
				</ul>
			</div>
		</div>
</div>

