<div class="main-content clearfix">
		<div class="tile">
				<img src="../images/thumbnail/demo-img.jpg" class="img-responsive"/>
				<h4>Shouvik Bhuiyan</h4>
		</div>
		<div class="tile">
			<img src="../images/thumbnail/demo-img.jpg" class="img-responsive"/>
			<h4>Shouvik Bhuiyan</h4>
		</div>
		<div class="tile">
			<img src="../images/thumbnail/demo-img.jpg" class="img-responsive"/>
			<h4>Shouvik Bhuiyan</h4>
		</div>
		<div class="tile">
			<img src="../images/thumbnail/demo-img.jpg" class="img-responsive"/>
			<h4>Shouvik Bhuiyan</h4>
		</div>
</div>

