<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">E business card</h3>
</div>

<div class="jumbotron form-creation">
  <form id="form-data" ng-submit="submitData()">
    <div class="column">
        <div>  
            <label for="org">Organisation:</label>
            <input id="org" list="organisation" ng-blur="orgSelected()" ng-model="org">
            <datalist id="organisation">
             <option value="Sapient"></option>
             <option value="Google"></option>
             <option value="Microsoft"></option>
            </datalist>
            <label class="theme-selected"></label>
        </div>
        <div>  
            <label for="name">Name:</label>
            <input id="name" name="name" ng-model="name"/> 
        </div>
        <div>  
            <label for="desig">Designation:</label>
            <input id="desig" name="desig" ng-model="desig"/>
        </div>
        <div>  
            <label for="offc-address">Office Address:</label>
            <textarea id="offc-address" name="offcAddress" ng-model="offcAddress"></textarea>
        </div>
        <label for="theme">Select Theme:</label>
        <select ng-init="theme=options[0]" ng-options="option for option in options" id="theme" ng-model="theme">
            <option val="white">White</option>  
            <option val="black">Black</option>
            <option val="new">Create new theme</option>      
        </select>        
    </div>
    <div class="column">
        <div>  
            <label for="email">Email:</label>
            <input id="email" name="email" ng-model="email"/>
        </div>
        <div>  
            <label for="phone">Mob:</label>
            <input id="phone" name="phone" ng-model="phone"/>
        </div>
        <div>  
            <label for="fax">Fax:</label>
            <input id="fax" name="fax" ng-model="fax"/>
        </div>        
        <div>  
            <label for="res-address">Residential Address:</label>
            <textarea id="res-address" name="resAddress" ng-model="resAddress"></textarea>
        </div>
        <div class="button-container">
            <a href="#myModal" role="button" ng-click="preview($event)" class="btn btn-small btn-primary" data-toggle="modal">Preview</a>
            <button type="submit" role="button" class="btn btn-small btn-primary" >Save</button>   
        </div>
    </div>    
  </form>
</div>



<!-- Button HTML (to Trigger Modal) -->

 
<!-- Modal HTML -->

<div id="myModal" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="card-container"> 
                <div class="card-wrapper">
                    <div class="column">
                        <h4 class="modal-title" ng-bind="name"></h4> 
                        <div class="desig">
                            <label ng-bind="desig"></label>,
                            <label ng-bind="org"></label>
                        </div>
                        <div class="res-container">  
                            <label class="card-label">Residencial Address:</label>
                            <div class="address" ng-bind="resAddress"></div>
                        </div>
                        
                    </div>
                    
                    <div class="column">
                        
                        <div class="cell-container"><label>Cell: </label><h4 class="card-cell" ng-bind="phone"></h4> </div> 
                        <div class="official-container">                        
                            <label class="card-label">Official Address:</label>
                            <div class="address" ng-bind="offcAddress"></div>
                            <label>Email:</label>
                            <label class="modal-title" ng-bind="email"></label>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Babaji's team</p>
</div