/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.form-creation{
    width: 100%;
    text-align: left;
    display: inline-block;
}
label, input, textarea, select{
    border-radius: 6px;
    border: none;
    box-shadow: 1px;
    width: 100%;
    font-size: 16px;
}
input, textarea{
    height: 40px;
}
.form-creation label,
.form-creation input{
    display: block; 
}
.column{
    float: left;
    padding: 0 20px;
    width: 50%;
    box-sizing: border-box;
}
.column:last-child{
    padding-right: 0;
}
.column:first-child{
    padding-left: 0
}
.form-creation .button-container{
    display: block;
    margin-top: 30px;
}
.jumbotron.form-creation .btn{
    padding: 7px 33px;
}
.modal-dialog{
    width: 33%;
}
.desig{
    padding: 0 20px;
}
.card-container{
    padding: 20px;   
}
.card-wrapper{
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.cell-container{
    text-align: right; 
}
.card-cell{
    display: inline;s
}
.card-label{
    text-decoration: underline;
}
.res-container{
    margin-top: 3px; 
}
.official-container{
    text-align: right;
    margin-top: 30px; 
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
