<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">E business card</h3>
</div>

<div class="jumbotron form-creation">
  <form>
    <div class="column">
        <div>  
            <label for="org">Organisation:</label>
            <input id="org" ng-model="org"/>
        </div>
        <div>  
            <label for="name">Name:</label>
            <input id="name" ng-model="name"/> 
        </div>
        <div>  
            <label for="desig">Designation:</label>
            <input id="desig" ng-model="desig"/>
        </div>
        <div>  
            <label for="offc-address">Office Address:</label>
            <textarea id="offc-address" ng-model="offcAddress"></textarea>
        </div>
    </div>
    <div class="column">
        <div>  
            <label for="email">Email:</label>
            <input id="email" ng-model="email"/>
        </div>
        <div>  
            <label for="phone">Mob:</label>
            <input id="phone" ng-model="phone"/>
        </div>
        <div>  
            <label for="fax">Fax:</label>
            <input id="fax" ng-model="fax"/>
        </div>
        <label for="font-style">Font-style:</label>
        <select ng-init="fontStyle[0]" ng-options="rm.ref for rm in refmarkers" ng-init="model.refmarker=refmarkers[0]" 
                ng-model="fontStyle">
            <option val="arial">Arial</option>  
            <option val="timesroman">Times New Roman</option>
            <option val="calibri">Calibri</option>
            <option val="Windings">Windings</option>
            <option val=""></option>            
        </select><label for="font-size">Font-size:</label>
        <select ng-model="fontSize">
            <option val="14">14</option>  
            <option val="16">16</option>
            <option val="18">18</option>
            <option val="20">20</option>
            <option val="22">22</option>            
        </select>
        <div>  
            <label for="res-address">Residential Address:</label>
            <textarea id="res-address" ng-model="resAddress"></textarea>
        </div>
    </div>
      
  </form>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>